{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="d-flex justify-content-center mt-2">Inscription</h1>
	<hr class="w-75 mx-auto mt-0 mb-3">
	<div class="d-flex justify-content-center form-container mt-3 mb-5 p-3 rounded mnb">

		{{ form_start(registrationForm) }}

		<h2 class="d-flex justify-content-center h4">Vos identifiants</h2>

		<div class="row text-center">
			{{ form_label(registrationForm.email, "Votre Email :") }}
			{{ form_widget(registrationForm.email, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.email) }}
		</div>

		<div class="row text-center mt-1">
			{{ form_label(registrationForm.plainPassword, "Votre mot de passe :") }}
			{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.plainPassword) }}
		</div>

		<h2 class="d-flex justify-content-center mt-3 h4">Vos coordonnées</h2>

		<div class="row text-center mt-1">
			{{ form_label(registrationForm.nom, "Votre nom :") }}
			{{ form_widget(registrationForm.nom, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.nom) }}
		</div>

		<div class="row text-center mt-1">
			{{ form_label(registrationForm.prenom, "Votre prénom :") }}
			{{ form_widget(registrationForm.prenom, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.prenom) }}
		</div>

		<div class="row text-center mt-1">
			{{ form_label(registrationForm.telephone, "Votre téléphone :") }}
			{{ form_widget(registrationForm.telephone, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.telephone) }}
		</div>

		<div class="row text-center mt-1">
			{{ form_label(registrationForm.adresse, "Votre adresse :") }}
			{{ form_widget(registrationForm.adresse, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.adresse) }}
		</div>

		<div class="row text-center mt-1">
			{{ form_label(registrationForm.cp, "Votre code postal :") }}
			{{ form_widget(registrationForm.cp, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.cp) }}
		</div>

		<div class="row text-center mt-1">
			{{ form_label(registrationForm.ville, "Votre ville :") }}
			{{ form_widget(registrationForm.ville, {'attr': {'class': 'btn-light form-control mt-1'} }) }}
			{{ form_errors(registrationForm.ville) }}
		</div>

		<div class="text-center">
			{{ form_label(registrationForm.agreeTerms, "J'accepte les conditions d'utilisation ") }}
			{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'mt-4 mb-4'} })  }}
		</div>

		<div class="row text-center">
			<button type="submit" class="btn btn-light">Inscription</button>
		</div>

		{{ form_end(registrationForm) }}
	</div>

{% endblock %}
